<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Buscador
    <form action="/buscar" method="get"> 
      <input type="text" name="filtro">
      <input type="submit">
    </form>
    <br>
    <br>
    <br>
    <br>
    Creador
    <form action="/crear" method="post">
      Titulo: <input type="text" name="titulo">
      <input type="submit">
    </form>
  </body>
</html>
