<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Login</p>
    <form action="/login" method="POST">
      <input type="text" name="name" id=""><br>
      <input type="password" name="pass" id=""><br>
      Recordame <input type="checkbox" name="remember" id=""><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
