<!DOCTYPE html>
<html>
  <head>
    <title>Multer Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Subir Imagen</h1>
    <form id='form' action="/multerPost" method="POST" enctype='multipart/form-data'>
        <input name='lala' type="file">
        <button type='submit'>Cargar</button>
    </form>
  </body>
</html>
