<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% let nueva = "soy la nueva"; %>
      Hola <%= casa.mostrar() %>
      <%= nueva %>
  </body>
</html>
